*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;/*doesnot apply to buttons so apply explicitly to buttons*/
}
button{
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;/*expands items to fill avaiable empty space*/
    width: 90%;
    margin: auto; 
    height: 15vh;
    align-items: center;
}
.logo-container,.nav-links,.cart{
    display: flex;/*put them in same line*//*A flex container expands items to fill available free space or shrinks them to prevent overflow.*/
}

.logo-container{
    /* background: lightblue; */
    flex: 1;/*takes full space...flex: flex-grow flex-shrink flex-basis|auto|initial|inherit;*/
            /*The flex property sets the flexible length on flexible items.*/
}
nav{
    /* background: rgb(189, 230, 173); */
    flex: 2;
}
.cart{
    /* background: rgb(156, 37, 21); */
    flex: 1;
    justify-content: flex-end;
}
.logo{
    font-weight: 400;
    margin: 5px;
}
.nav-links{
    justify-content: space-around;/*align along wrt x-axis*/
    list-style: none;
    
}
.nav-link{
    color: #5f5f5f;
    font-size: 18px;
    text-decoration: none;
}
.presentation{ 
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}
.introduction{
    flex: 1;
}
.intro-text h1{
    font-size: 44px;
    font-weight: 500;

    background:linear-gradient(to right,#494949,#6f6f89);/*for the effecct on text*/
    -webkit-background-clip: text;    /*determine background painting area(paste background to text)*/                              /*|*/
    -webkit-text-fill-color: transparent;    /*background color fills up the text color(background pasted fills the text)*/         /*|*/
}
.intro-text p{
    margin-top: 5px;
    font-size: 22px;
    columns: #585772;
}
.cta{
    padding: 50px 0px 0px 0px;
}
.cta-select{
    border: 2px solid #c36cbb;
    background: transparent;
    color: #c36cbb;
    height: 50px;
    width: 150px;
    cursor: pointer;
    font-size: 16px;
}
.cta-add{
    background: #c36cbb;
    color: white;
    height: 50px;
    width: 150px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    margin: 30px 0 0 30px;
}
.cover{
    flex: 1;
    display: flex;
    height: 60vh; 
}
.cover img{
    height: 100%;
    /* box-shadow: 3px 3px 3px black; */
    filter: drop-shadow(0px 5px 3px black);/*filter->process pic drop-shadow(offset-x offset-y blur-radius color)*/
    animation: drop 1.5s ease;
}
.big-circle{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;/*move it behind laptop image*/
    opacity: 0.5;/*transparency :lower val,more trans*/
    height: 90%;
}
.medium-circle{
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
    height: 60%;
    opacity: 0.4;
}
.small-circle{
    position: absolute;
    top: 65%;
    right:54%;
    z-index: -1;
    height:35%;
}
.laptop-select{
    width: 15%;
    height: 2.5%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 28%;
    bottom: 7%; 
}
@keyframes drop{
    0%{
        opacity: 0;
        transform: translateY(-80px);

    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@media screen and (max-width:807px){
    .presentation{
        flex-direction: column;/*b4 it was in row,now in col*/
    }
    .introduction{
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1{
        font-size: 30px;
    }
    .intro-text p{
        font-size: 18px;
    }
    .cta{
        padding: 10px 0 0 0;
    }
    .laptop-select{
        
        bottom: -15%;
        left: 30%;
        width: 40%;
        /* transform: translate(50%,50%); */
    }
    .cover img{
        /* height: 80%; */
        padding-bottom: 3px;
    }
    .small-circle,.medium-circle.big-circle{
        opacity: 0.2;
    }
    .header{
        width: 100%;
    }
    .logo{
       display: none;
    }
}